<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userContractServlet</servlet-name>
        <servlet-class>controllers.user.UserContractServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userContractServlet</servlet-name>
        <url-pattern>/user/Contract</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NumberOperationsServlet</servlet-name>
        <servlet-class>controllers.user.NumberOperationsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NumberOperationsServlet</servlet-name>
        <url-pattern>/user/NumberOperations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TariffServlet</servlet-name>
        <servlet-class>controllers.user.TariffServlets</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TariffServlet</servlet-name>
        <url-pattern>/user/Tariffs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TariffOptionServlet</servlet-name>
        <servlet-class>controllers.user.TariffOptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TariffOptionServlet</servlet-name>
        <url-pattern>/user/TariffOptions</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FindClientServlet</servlet-name>
        <servlet-class>controllers.admin.FindClientServlet</servlet-class>
    </servlet>

    <!--<servlet-mapping>-->
    <!--<servlet-name>FindClientServlet</servlet-name>-->
    <!--<url-pattern>/admin/index</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
    <!--<servlet-name>FindClientServlet</servlet-name>-->
    <!--<servlet-class>controllers.admin.FindClientServlet</servlet-class>-->
    <!--</servlet>-->

    <servlet-mapping>
        <servlet-name>FindClientServlet</servlet-name>
        <url-pattern>/admin/FindClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewClientServlet</servlet-name>
        <servlet-class>controllers.admin.NewClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewClientServlet</servlet-name>
        <url-pattern>/admin/NewClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeClientServlet</servlet-name>
        <servlet-class>controllers.admin.ChangeClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeClientServlet</servlet-name>
        <url-pattern>/admin/ChangeClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewContractServlet</servlet-name>
        <servlet-class>controllers.admin.NewContractServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewContractServlet</servlet-name>
        <url-pattern>/admin/NewContract</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NewTariffServlet</servlet-name>
        <servlet-class>controllers.admin.NewTariffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewTariffServlet</servlet-name>
        <url-pattern>/admin/NewTariff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeTariffChangeTariffServlet</servlet-name>
        <servlet-class>controllers.admin.ChangeTariffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeTariffChangeTariffServlet</servlet-name>
        <url-pattern>/admin/EditTariff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewTariffOptionServlet</servlet-name>
        <servlet-class>controllers.admin.NewTariffOptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewTariffOptionServlet</servlet-name>
        <url-pattern>/admin/NewOption</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeTariffOptionServlet</servlet-name>
        <servlet-class>controllers.admin.ChangeTariffOptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeTariffOptionServlet</servlet-name>
        <url-pattern>/admin/EditTariffOption</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/404.jsp</location>-->
    <!--</error-page>-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout> <!-- in minutes -->
    </session-config>

    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>controllers.ExitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/Exit</url-pattern>
    </servlet-mapping>
</web-app>
